* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.slider {
	font-family: Arial, sans-serif;
	font-size: 16px;
	
}

.container {
	padding: 20px ;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

.img {
	display: block;
	width: 100%;
	height: 100%;
	transition: 0.4s;
}

.slider__inner {
	width: 100%;
	height: 600px;
	overflow: hidden;
	display: flex;
	flex-direction: column;


}

.slider__screen {
	margin-bottom: 15px;
	width: 400%;
	max-height: 500px;
	display: flex;
	border-radius: 9px;
}
.slider__screen__inner {
	display: flex;
	width:100%;
}
.slider__screen__inner div {
	width:25%;

}
.slider__screen__inner div img{
	border-radius: 9px;
}

.slider__footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.slider__text {
	width: 50%;
	overflow: hidden;
}

.slider__text-inner {
	width: 400%;
	display: flex;

}

.slider__text-screen {

	width: 100%;
	display: flex;

}

.slider__text-screen p {
	width: 25%;
	transition: all 0.4s;
}



input {
	display: none;
}

label {
	box-sizing: content-box;
	display: inline-block;
	width: 10px;
	height: 10px;
	padding: 0;
	background-color: rgb(155, 152, 152);
	border: 8px solid transparent;
	background-clip: content-box;
	color: transparent;
	font-size: 0;
	border-radius: 50%;
	cursor: pointer;
	transition: background-color 0.2s linear, border-color 0.2s linear;
}
label:hover {
	background-color: #004af2;
}

#firstSlide:checked~.slider__footer .slider__dots label:nth-child(1),
#secondSlide:checked~.slider__footer .slider__dots label:nth-child(2),
#thirdSlide:checked~.slider__footer .slider__dots label:nth-child(3),
#fourthSlide:checked~.slider__footer .slider__dots label:nth-child(4) {
	background-color: #004af2;
	;
	border-color: rgba(0, 74, 242, 0.11);
}

#firstSlide:checked~.slider__screen img:nth-child(1),
#firstSlide:checked~.slider__footer .slider__text .slider__text-inner .slider__text-screen p:nth-child(1) {
	margin-left: 0;
}

#secondSlide:checked~.slider__screen img:nth-child(1),
#secondSlide:checked~.slider__footer .slider__text .slider__text-inner .slider__text-screen p:nth-child(1) {
	margin-left: -100%;
}

#thirdSlide:checked~.slider__screen img:nth-child(1),
#thirdSlide:checked~.slider__footer .slider__text .slider__text-inner .slider__text-screen p:nth-child(1) {
	margin-left: -200%;
}

#fourthSlide:checked~.slider__screen img:nth-child(1),
#fourthSlide:checked~.slider__footer .slider__text .slider__text-inner .slider__text-screen p:nth-child(1) {
	margin-left: -300%;
}
#firstSlide:checked~.slider__footer .slider__text .slider__text-inner .slider__text-screen p:nth-child(1) {
	margin-left: 0;
}

#secondSlide:checked~.slider__footer .slider__text .slider__text-inner .slider__text-screen p:nth-child(1) {
	margin-left: -25%;
}

#thirdSlide:checked~.slider__footer .slider__text .slider__text-inner .slider__text-screen p:nth-child(1) {
	margin-left: -50%;
}


#fourthSlide:checked~.slider__footer .slider__text .slider__text-inner .slider__text-screen p:nth-child(1) {
	margin-left: -75%;
}
@media (max-width: 833px) {
	.slider__footer {
		flex-direction: column-reverse;
	}
	.slider__text {
		width: 100%;
	}
	.slider__dots {
		margin: 0 auto;
	}
}